.hamkorlar {
  padding-top: 140px;
  padding-bottom: 140px;
}
.hamkor-h2 {
  font-family: Raleway, sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;

  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamkor-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
}
.strelki {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
